{% extends 'base.html.twig' %}

{% block title %}Gestion des prêts | Comptabilité
{% endblock %}
{% block body %}
	{% include "_sidebar.html.twig" %}
	<ul>
		<li>Total Versé aux assos :</li>
		<li>Total Remboursts reçus</li>
		<li>Historique de casse</li>
		<li>Solde Théorique</li>
		<li>Solde du cpte 2748 au 31/12</li>
		<li>Solde du cpte 4671 au 31/12</li>
		<li>Solde comptable</li>
		<li>Différence</li>
	</ul>

{% endblock %}
