{% extends 'base.html.twig' %}

{% block title %}Gestion des prêts | Accueil
{% endblock %}
{% block body %}

	<div class="navbar">
		<img src="/img/logo-re.png" alt="">

		<div class="search-bar">
			<i class="fa-solid fa-magnifying-glass"></i>
			<input type="text" class="search" placeholder="Rechercher une valeur dans le tableau">
		</div>

		<div class="nav-log">
			{% if app.user %}
				<ul>
					<li>
						<a href=" {{ path('app_logout') }}">Déconnexion</a>
					</li>
				{% else %}
					<li><a href=" {{ path('app_login') }}">Connexion</a></li>
				</ul>
			{% endif %}
		</div>
	</div>
	{% include "/home/table.html.twig" %}
{% endblock %}
