{% extends 'base.html.twig' %}

{% block title %}Total Remboursé à ce jour
{% endblock %}


{% block body %}

	{% include "_sidebar.html.twig" %}

	<div class="tableTotalAmountRepaid">
		<table class="table-content">
			<thead>
				<tr>
					<th>Total Remboursé à ce jour</th>
					<th>Montant du  Versement</th>
					<th>Date de Versement</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>{{TotalAmountRepaidToDate.totalAmountRepaidToDate}}</td>

					<td>{{TotalAmountRepaidToDate.payment}}</td>
					<td>{{TotalAmountRepaidToDate.date| date ("d/m/Y")}}</td>

				</tr>
			</tbody>
		</table>
	</div>


{% endblock %}
