{% extends "base.html.twig" %}
{% block title %}
	Détails Fiche Société
{% endblock %}
{% block body %}
	{% include "_sidebar.html.twig" %}

	{% include "_companyInfosNavBar.html.twig" %}
	
	{% include "_weatherTable.html.twig" %}
	
	{% include "_companyDisplayTable.html.twig" %}


<button id="newAmount">
	<a href="{{path('app_companysheet_createAccount', {id: company.id})}}">
		<i class="fa-solid fa-plus"></i>
		<span>Ajouter un montant reçu</span>
	</a>
</button>

<button id="newWeather">
	<a href="{{path('app_weather_create', {id: company.id})}}">
		<i class="fa-solid fa-plus"></i>
		<span>Création d'une Météo</span>
	</a>
</button>


</div>{% endblock %}
