.companyInfos {
  position: fixed;
  top: 120px;
  left: 280px;
  width: 1000px;
  nav {
    margin-bottom: 10px;
    border-bottom: 2px solid #e5e5e5;
    ul {
      display: flex;

      li {
        font-size: 1rem;
        padding: 10px 25px 1px 0px;
      }
    }
  }
}
.card-container {
  margin-bottom: 200px;
  width: 100%;
  color: var(--text-color);
  .tabcontent {
    display: none;
  }
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;

    ul {
      li {
        margin-bottom: 10px;
      }
      li:active {
        color: red;
      }
    }
  }
}
