// Style Formulaire pour les Association ( Create / Edit )

.form-container {
  position: absolute;
  top: 50px;
  left: 320px;

  .form-content {
    background-color: var(--card-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 50px 45px;

    h1 {
      text-align: center;
      font-size: 2.4rem;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    label {
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
    input {
      font-size: 1rem;
      width: 100%;
      margin-top: 5px;
      padding-left: 5px;
      border-radius: 5px;
      border: 1px solid var(--text-color);
      outline: none;
      &:focus {
        border: 1px solid var(--primary-color);
      }
    }
    button {
      display: block;
      border: none;
      border-radius: 150px;
      font-size: 1.2rem;
      background: var(--primary-color);
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      color: white;
      cursor: pointer;
      width: 50%;
      margin: 30px auto 0;
      padding: 10px;
      transition: 0.3s ease;
      &:hover {
        filter: brightness(105%);
        transform: translateX(2px);
      }
    }
  }
}

// Style Formulaire pour les CompanySheet ( Create / Edit )
.form-companysheet {
  position: absolute;
  top: 30px;
  left: 320px;

  .form-content {
    padding: 40px;
    border-radius: 25px;
    background-color: var(--card-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    div {
      display: flex;
      flex-direction: column;
    }
  }

  h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  input,
  select {
    margin-top: 5px;
    font-size: 0.9rem;
    border: 1px solid var(--text-color);
    border-radius: 6px;
    transition: 0.2s;
    outline: none;
    color: var(--text-color);
  }
  input:focus,
  select:focus {
    border: 1px solid var(--primary-color);
  }

  p {
    font-size: 1.1rem;
    font-weight: 700;
  }
  label {
    font-size: 1.1rem;
  }

  select option {
    background: rgb(235, 244, 242);
  }

  button {
    display: block;
    margin: 20px auto 0;
    padding: 10px;
    width: 50%;
    background: var(--primary-color);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 150px;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      filter: brightness(105%);
      transform: translateX(2px);
    }
  }
}

// // Ce style est utiliser pour réduire la largeur d'un formulaire
// .min {
//   max-width: 700px;
//   background: var(--card-color);
//   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
// }
