// Formulaire CompanySheet ( Create Edit )
.form-companysheet {
  position: fixed;
  top: 130px;
  left: 280px;
  .form-content {
    width: 850px;
    border-radius: 25px;
    background-color: var(--sidebar-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
    padding: 20px;
  }
  h1 {
    text-align: center;
    margin-bottom: 10px;
  }
  div {
    display: flex;
    flex-direction: column;
  }
  .date,
  .FNI {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }
  label {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  input,
  select {
    font-size: 1rem;
    border: 1px solid var(--text-color);
    border-radius: 6px;
    transition: 0.2s;
    outline: none;
    color: var(--text-color);
    margin-bottom: 10px;
  }
  select option {
    background: rgb(235, 244, 242);
  }

  input:focus,
  select:focus {
    border: 1px solid gray;
  }
  button {
    display: block;
    margin: 15px auto 0;
    padding: 15px;
    font-size: 1rem;
    background: var(--banner-color);
    border: none;
    border-radius: 150px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      filter: brightness(105%);
      transform: translateX(2px);
    }
  }
}

// Formulaire Porteur Projet / Convention / Association
.form {
  position: fixed;
  top: 130px;
  left: 280px;

  .form-content {
    padding: 20px;
    border-radius: 25px;
    background-color: var(--sidebar-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);

    div {
      display: flex;
      flex-direction: column;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 25px;
  }

  input,
  select {
    margin-top: 5px;
    font-size: 0.9rem;
    border: 1px solid var(--text-color);
    border-radius: 6px;
    transition: 0.2s;
    outline: none;
    color: var(--text-color);
  }

  input:focus,
  select:focus {
    border: 1px solid var(--primary-color);
  }

  p {
    font-size: 1.1rem;
    font-weight: 700;
  }

  label {
    font-size: 1.1rem;
  }

  select option {
    background: rgb(235, 244, 242);
  }

  button {
    display: block;
    margin: 20px auto 0;
    padding: 10px;
    width: 50%;
    background: var(--banner-color);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 150px;
    color: white;
    font-size: 1.2rem;
    transition: 0.3s ease;
    cursor: pointer;

    &:hover {
      filter: brightness(105%);
      transform: translateX(2px);
    }
  }
}
