.form-container {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-280px);
}
.form-container .form-content {
  background-color: var(--card-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  border-radius: 25px;
  padding: 50px 45px;
}
.form-container .form-content h1 {
  text-align: center;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.form-container .form-content label {
  font-size: 1.2rem;
  letter-spacing: 1px;
}
.form-container .form-content input {
  font-size: 1rem;
  width: 100%;
  margin-top: 5px;
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid var(--text-color);
  outline: none;
}
.form-container .form-content input:focus {
  border: 1px solid var(--primary-color);
}
.form-container .form-content button {
  display: block;
  border: none;
  border-radius: 150px;
  font-size: 1.2rem;
  background: var(--primary-color);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  color: white;
  cursor: pointer;
  width: 50%;
  margin: 30px auto 0;
  padding: 10px;
  transition: 0.3s ease;
}
.form-container .form-content button:hover {
  filter: brightness(105%);
  transform: translateX(2px);
}

.form-companysheet {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.form-companysheet .form-content {
  width: 850px;
  border-radius: 25px;
  background-color: var(--card-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.form-companysheet h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.form-companysheet div {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.form-companysheet .date,
.form-companysheet .FNI {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.form-companysheet label {
  font-weight: 600;
  font-size: 1.1rem;
}
.form-companysheet input,
.form-companysheet select {
  font-size: 1rem;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  transition: 0.2s;
  outline: none;
  color: var(--text-color);
}
.form-companysheet select option {
  background: rgb(235, 244, 242);
}
.form-companysheet input:focus,
.form-companysheet select:focus {
  border: 1px solid var(--primary-color);
}
.form-companysheet button {
  margin-top: 10px;
  padding: 15px;
  font-size: 1.3rem;
  color: white;
  border: none;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  background: var(--primary-color);
  transition: 0.3s ease;
  cursor: pointer;
}
.form-companysheet button:hover {
  filter: brightness(105%);
  transform: translateX(2px);
}

.form-projectleader {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-280px);
}
.form-projectleader .form-content {
  padding: 40px;
  border-radius: 25px;
  background-color: var(--card-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}
.form-projectleader .form-content div {
  display: flex;
  flex-direction: column;
}
.form-projectleader h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.form-projectleader input,
.form-projectleader select {
  margin-top: 5px;
  font-size: 0.9rem;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  transition: 0.2s;
  outline: none;
  color: var(--text-color);
}
.form-projectleader input:focus,
.form-projectleader select:focus {
  border: 1px solid var(--primary-color);
}
.form-projectleader p {
  font-size: 1.1rem;
  font-weight: 700;
}
.form-projectleader label {
  font-size: 1.1rem;
}
.form-projectleader select option {
  background: rgb(235, 244, 242);
}
.form-projectleader button {
  display: block;
  margin: 20px auto 0;
  padding: 10px;
  width: 50%;
  background: var(--primary-color);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 150px;
  color: white;
  font-size: 1.2rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.form-projectleader button:hover {
  filter: brightness(105%);
  transform: translateX(2px);
}

.min {
  max-width: 700px;
  background: var(--card-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}

.form-totalamount {
  height: 100vh;
  display: flex;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-280px);
}
.form-totalamount .form-content {
  padding: 40px;
  border-radius: 25px;
  background-color: var(--card-color);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
}
.form-totalamount .form-content div {
  display: flex;
  flex-direction: column;
}
.form-totalamount h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.form-totalamount input,
.form-totalamount select {
  margin-top: 5px;
  font-size: 0.9rem;
  border: 1px solid var(--text-color);
  border-radius: 6px;
  transition: 0.2s;
  outline: none;
  color: var(--text-color);
}
.form-totalamount input:focus,
.form-totalamount select:focus {
  border: 1px solid var(--primary-color);
}
.form-totalamount p {
  font-size: 1.1rem;
  font-weight: 700;
}
.form-totalamount label {
  font-size: 1.1rem;
}
.form-totalamount select option {
  background: rgb(235, 244, 242);
}
.form-totalamount button {
  display: block;
  margin: 20px auto 0;
  padding: 10px;
  width: 50%;
  background: var(--primary-color);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 150px;
  color: white;
  font-size: 1.2rem;
  transition: 0.3s ease;
  cursor: pointer;
}
.form-totalamount button:hover {
  filter: brightness(105%);
  transform: translateX(2px);
}/*# sourceMappingURL=form.css.map */