.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 30px 0;

    img{
        width: 250px;
    }

    .nav-search-bar{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        min-width: 375px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

        .search {
            border: none;
            background-color: white;
            box-shadow: none;
        }
        .search:focus {
            border: none;
        }

        i{
            background-color: white;
            padding: 0px 10px;
        }
    }

    .nav-log{
        a {
            padding: 10px 20px;
            background: linear-gradient(65deg, #a9a9ca, #6C7AE0);            
            text-decoration: none;
            color: white;
            border-radius: 35px;
            font-size: 1.3rem;
            letter-spacing: 2.5px;
        }
    }
    .nav-log:hover {
        filter: brightness(105%);
        transform: translateX(2px);
    }
}




