// Style Table
.table {
  display: flex;
  position: fixed;
  top: 120px;
  left: 280px;
  width: 1600px;
}

.tableTotalAmountRepaid {
  position: fixed;
  top: 450px;
  left: 280px;
  width: 1650px;
  caption {
    background: var(--banner-color);
    color: white;
    font-size: 1.2rem;
    text-align: left;
    height: 40px;
    padding: 5px;
  }
  .newAmount {
    height: 50px;
  }
}

.table-content {
  width: 100%;
  border-collapse: collapse;

  thead {
    tr {
      th {
        background: white;
        color: black;
        font-size: 0.9rem;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-bottom: 2px solid #e5e5e5;
      }
    }
  }

  tbody {
    background: white;

    td {
      font-size: 0.8rem;
      color: var(--text-color);
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #f2f2f2;
      text-align: center;
      a {
        i {
          margin-left: 10px;
        }
      }
    }

    .totalLine {
      color: black;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  tr:hover {
    background-color: #ececff;
    cursor: pointer;
  }
}
a {
  text-decoration: none;
  color: var(--text-color);
  &:hover {
    text-decoration: underline;
  }
}

.delete {
  color: #ff4040;
}
// Style Table CS

.tableCS {
  display: flex;
  position: fixed;
  top: 120px;
  left: 280px;
  width: 1600px;
}

.tableTotalAmountRepaid {
  position: fixed;
  top: 450px;
  left: 280px;
  width: 1650px;
  caption {
    background: var(--banner-color);
    color: white;
    font-size: 1.2rem;
    text-align: left;
    height: 40px;
    padding: 5px;
  }
  .newAmount {
    height: 50px;
  }
}

.table-content {
  width: 100%;
  border-collapse: collapse;

  thead {
    tr {
      th {
        background: white;
        color: black;
        font-size: 0.9rem;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        border-bottom: 2px solid #e5e5e5;
      }
    }
  }

  tbody {
    background: white;

    td {
      font-size: 0.8rem;
      color: var(--text-color);
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #f2f2f2;
      a {
        i {
          margin-left: 10px;
        }
      }
    }

    .totalLine {
      color: black;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  tr:hover {
    background-color: #ececff;
    cursor: pointer;
  }
}
a {
  text-decoration: none;
  color: var(--text-color);
  &:hover {
    text-decoration: underline;
  }
}

.delete {
  color: #ff4040;
}
