<div class="navbar">
	<div class="navbar-logo">
		<a href="{{ path('app_association') }}">
			<img src="/img/logo-re.png" alt="">
		</a>
	</div>

	<div class="nav-search-bar">
		<i class="fa-solid fa-magnifying-glass"></i>
		<input type="text" class="search" placeholder="Rechercher une valeur dans le tableau">
	</div>

	<div class="nav-log">
		{% if app.user %}
			<ul>
				<li>
					<a href=" {{ path('app_logout') }}">Déconnexion</a>
				</li>
			{% else %}
				<li><a href=" {{ path('app_login') }}">Connexion</a></li>
			</ul>
		{% endif %}
	</div>
</div>
